{
  "presets": ["es2015"],
  "plugins":
  [
    "add-module-exports",
    ["module-alias",
      [
        { "src": "npm:escomplex-core-commons/dist", "expose": "escomplex-core-commons/src" },
        { "src": "npm:escomplex-plugin-syntax-estree/dist", "expose": "escomplex-plugin-syntax-estree/src" }
      ]
    ]
  ]
}